<h1>Flug suchen</h1>

<div class="form-group">
	<label>Von</label>
	<input ng-class="flugSuchen.von" ng-model="flugSuchen.von" class="form-control">
</div>

<div class="form-group">
	<label>Nach</label>
	<input ng-class="flugSuchen.nach" ng-model="flugSuchen.nach" class="form-control"> 
</div>

<div>
	<input type="button" value="Suchen!" ng-click="flugSuchen.suchen()" class="btn">
</div>

<table ng-show="flugSuchen.fluege.length > 0" class="table table-striped"> 
	
	<tr ng-repeat="f in flugSuchen.fluege">
		<td>{{ f.datum | date }}</td>
		<td>{{ f.id  }}</td>
		<td>{{ f.zielort | ort:'long'  }}</td>
		<td>{{ f.abflugort | ort:'short'  }}</td> 
		<td>
			<a ui-sref="flug-edit({id: f.id})">Editieren</a>
			
		</td>                       
	</tr>
	
</table>
